---
import Steps from "@/components/react/Steps";

const steps = [
  {
    number: 1,
    title: "Introduce la dirección del inmueble",
    description:
      "Para encontrar los datos de tu inmueble en el catastro.",
  },
  {
    number: 2,
    title: "Responde a un sencillo cuestionario",
    description: "Describe las particularidades de tu inmueble.",
  },
  {
    number: 3,
    title: "Indica el correo electrónico al que quieres que te lo enviemos",
    description:
      "No te preocupes, no te enviaremos spam.",
  },
  {
    number: 4,
    title: "¡Listo!",
    description: "La valoración de tu inmueble estará en tu bandeja de entrada.",
    step_data: {
      isCompleted: true,
    },
  },
];
---

<section class="section">
  <h1 class="section-title">
    Obtén tu valoración en {steps.length} simples pasos
  </h1>

  <!-- Stepper -->
  <Steps steps={steps} client:load/>
  <!-- End Stepper -->
</section>
